/********** GENERAL **********/

body {
    font-family: Tahoma, sans-serif;
    background-color: lightcoral;
}

.wrapper {
    background-color: lightcoral;
    padding: 20px;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin: 0;
}

/********** CONTROLS **********/

.controls {
    display: flex;
    justify-content: flex-start;
}

.ctrl_module {
    padding-right: 40px;
}

.ctrl_gain {
    text-align: center;
}

.radio {
    display: flex;
    margin: 5px 0;
}

.radio label {
    margin-left: 5px;
}

#ctrl_gain input {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 85px;
}

/********** KEYS **********/

.keys {
    width: 100%;
    margin: auto;
}

.keys button {
    width: 6%;
    height: 100px;
    border: 0;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}

.black-keys {
    display: inline-block;
    width: 100%;
    margin: 40px 0 4px;
}

#C4s {
    margin-left: 4%;
}

#F4s {
    margin-left: 6%;
}

#C5s {
    margin-left: 8%;
}

#F5s {
    margin-left: 7%;
}

.white-keys {
    display: flex;
    justify-content: space-between;
}

/********** FOOTER **********/

.footer {
    text-align: center;
    font-size: 70%;
    margin-top: 40px;
}

/********** MEDIA QUERIES **********/

@media all and (max-width: 480px) {
    .wrapper {
        width: 460px;
        font-size: 70%
    }
}

@media all and (min-width: 481px) {
    .wrapper {
        width: 90%;
        font-size: 70%;
    }
}

@media all and (min-width: 750px) {
    .wrapper {
        width: 90%;
        font-size: 85%;
    }
}

@media all and (min-width: 1024px) {
    .wrapper {
        width: 960px;
        font-size: 100%;
    }
}
/********** GENERAL **********/
/********** GENERAL **********/
/********** GENERAL **********/
/********** GENERAL **********/
/********** GENERAL **********/