/********** GENERAL **********/

.wrapper {
    background-color: gray;
    width: 70%;
    margin: 40px auto;
}

/********** GENERAL **********/
/********** GENERAL **********/
/********** GENERAL **********/
/********** GENERAL **********/
/********** GENERAL **********/
/********** GENERAL **********/
/********** GENERAL **********/